<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs') %>
<body>

<!-- Top menu -->
<%- include('../partials/menu.ejs') %>

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
 
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <% for (let i = 0 ; i < dataFoods.length ; i++) { %>
      <div class="w3-quarter">
        <a href="/detailFood/<%= dataFoods[i].id %>"><img src="../upload/<%= dataFoods[i].picture %>" alt="Sandwich" style="width:100%">
        <h3><%= dataFoods[i].food_name %></h3></a>
      </div>
      <% } %>
    </div>

  <hr id="about">  
  <%- include('../partials/footer.ejs') %>

</body>
</html>
