<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs') %>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>

<%- include('../partials/menu.ejs') %>

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<p><p><p>
<table>

  <% if (msg) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>file has been deleted!</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    <% } %>
    <% if (updateText !== null) { %>
    <div class="alert alert-success" role="alert">
        <strong><%= updateText%></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    <% } %>
    
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Ingredient</th>
    <th>Option</th>
    
  </tr>
  <% for (let i = 0 ; i < myfoodslist.length ; i++ ){ %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= myfoodslist[i].food_name %></td>
    <td><%= myfoodslist[i].description %></td>

    <td><%= myfoodslist[i].Category.category_name %></td>
    
    <% if (myfoodslist[i].Ingredients.length === 0 || myfoodslist[i].Ingredients.length === null ){ %>
    <td>empty</td>
    
    <% }else{ %>
    <td>
        <%for (let a = 0 ; a < myfoodslist[i].Ingredients.length ; a++ ){ %>
            <%= myfoodslist[i].Ingredients[a].ingredient_name %>,
        <%}%>
    <% } %>
    </td>
    <td><a class="linkaja" href="/updateFood/<%= myfoodslist[i].id %>">Edit</a> | <a onclick="konfirmasi(<%= myfoodslist[i].id %>)">Delete</a></td>
  </tr>
    <% } %>
</table>
  
  <%- include('../partials/footer.ejs') %>

</body>
    <script>
        function konfirmasi(id){
            if (confirm("delete this food!")) {
                window.location.assign(`/myfoods/delete/${id}`)
            } else {
                window.location.assign("/myfoods")
            }
        }
    </script>
</html>
