<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/menu.ejs') %>
  

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<!-- !PAGE LOGIN!  -->

    <h1>Update Food</h1>
    <!-- enctype="multipart/form-data"  -->
    <form action="/updateFood/<%= editFood.id %>" method="POST" >
        <label for="food_name">Food name :</label><br>
        <input type="text" name="food_name" value="<%= editFood.food_name %>"><br>
        <label for="category">Category :</label><br>
      <select name="category">      
      <%  for (let i = 0 ; i < dataCategory.length ; i++){ %>
            <% if (editFood.CategoryId === dataCategory[i].id){ %>
                <option value="<%= dataCategory[i].category_name %>" selected><%= dataCategory[i].category_name %></option>
            <% } else { %>
                <option value value="<%= dataCategory[i].category_name %>"><%= dataCategory[i].category_name %></option>
           <% }%>
        <% } %>
    
        </select>

        <br>
        <label for="deskripsi">Deskripsi :</label><br>
        <textarea rows="6" cols="50" name="deskripsi" value=""><%= editFood.description %></textarea><br>

        <h2><%= typeof msg != 'undefined' ? msg : '' %> </h2>

        <label for="ingredient">Ingredient :</label><br>
        <input type="text" name="ingredient" value="<% for (let i = 0 ; i < editFood.Ingredients.length ; i++){%><%= editFood.Ingredients[i].ingredient_name%><%if(i === editFood.Ingredients.length-1){%><%}else{%>,<%}%><%}%>"><br>
        <p></p>
        <input type="submit" value="Save">

    </form>
</div>

<%- include('../partials/footer.ejs') %>

</body>
</html>
